<ion-header class="ion-no-border" translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Regresar" color="primary"></ion-back-button>
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">{{ title }}</ion-title>
    <ion-buttons slot="end" *ngIf="avatar.length > 0">
      <ion-avatar>
        <ion-img [src]="avatar"></ion-img>
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
