<app-header [title]="'Alert'"/>

<ion-content>

  <ion-button (click)="presentAlert()" expand="block">Alert Simple</ion-button>

  <ion-button (click)="presentAlertConfirm()" expand="block" color="secondary">Alert Present Confirm</ion-button>

  <ion-button (click)="presentAlertMultiButtons()" expand="block" color="tertiary">Alert Multi Buttons</ion-button>

  <ion-button (click)="presentAlertPrompt()" expand="block" color="medium">Alert Prompt</ion-button>

  <ion-button (click)="presentAlertRadio()" expand="block" color="warning">Alert Radio</ion-button>

  <ion-button (click)="presentAlertChecbox()" expand="block" color="success">Alert Checkbox</ion-button>

</ion-content>
