<app-header [title]="'Card'" ></app-header>

<ion-content>

  <ion-card>
    <img [src]="avatar" alt="">
    <ion-card-header>
      <ion-card-subtitle>Subtitle Card</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat fuga quidem, expedita nesciunt quibusdam saepe delectus quod facilis. Doloremque mollitia optio excepturi dolores quo quasi? Molestias quasi corrupti eaque veritatis?</p>
    </ion-card-content>

      <ion-button fill="clear">Action 1</ion-button>
      <ion-button fill="clear">Action 2</ion-button>
  </ion-card>



</ion-content>
