<app-header [title]="'List'"></app-header>

<ion-content color="light">

  <ion-list [inset]="true">
    <ion-item>
      <ion-label>Pokemon Go</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Pokemon Go</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Pokemon Go</ion-label>
    </ion-item>
  </ion-list>

  <ion-list lines="full">
    <ion-item>
      <ion-label>Full Lines</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Full Lines</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Full Lines</ion-label>
    </ion-item>
  </ion-list>

  <ion-list lines="none">
    <ion-item>
      <ion-label>No Lines</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>No Lines</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>No Lines</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
